* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
    font-family: "poppins", sans-serif;
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

h1 {
    position: relative;
    color: white;
    text-align: right;
    margin-top: 19em;
    z-index: 2;
}